# Project: Yelp Prediction

#### CSC 219 Machine Learning (Spring 2019)
#### Gary Kane
#### Harini Valluru

## Raw Data Processing

First, we need to read data from Yelp and create pandas DataFrames. Yelp gives us data in JSON format. We need to convert JSON to something pandas can read like TSV. Two JSON files, in particular, are of interest to us: business.json and photo.json.

In [1]:
import json
import csv
import pandas as pd

In [4]:
%%time
outfile = open("data/photo.tsv", 'w', encoding="utf8")
sfile = csv.writer(outfile, delimiter='\t', quoting=csv.QUOTE_MINIMAL)
sfile.writerow(["caption", "photo_id", "business_id", "label"])

with open("data/photo.json", encoding="utf8") as f:
    for line in f:
        row = json.loads(line)
        sfile.writerow([row["caption"], row["photo_id"], row["business_id"], row["label"]])

outfile.close()

# Converting to dataframe
photos_df = pd.read_csv("data/photo.tsv", delimiter='\t', encoding="utf-8")

CPU times: user 1.63 s, sys: 75.5 ms, total: 1.71 s
Wall time: 1.8 s

In [8]:
# Converting to dataframe
photos_df = pd.read_csv("data/photo.tsv", delimiter='\t', encoding="utf-8")
photos_df[:5]

  caption                photo_id             business_id   label
0     NaN  MllA1nNpcp1kDteVg6OGUw  rcaPajgKOJC2vo_l3xa42A  inside
1     NaN  YjxBE88Bf6CmTEF2LP1UNA  Kn23LDd740SBVJ7mum0fwg  inside
2     NaN  1f7izSjM0WjkDRIVbPy1yw  ZkGDCVKSdf8m76cnnalL-A    food
3     NaN  NcSlcDTEEeOaixotOPk-rA  bF8gv7k_rwZtiDLP2ZB04w  inside
4     NaN  5IiIo5UKEW0lWqZ6sWrY_A  50Anorn0DJXFhBr9a9_gHQ  inside

## Data Aggregation

In [12]:
photos_agg = photos_df.groupby("photo_id")["label"].sum()
photos_df = pd.DataFrame({"photo_id": photos_agg.index, "all_label": photos_agg.values})
photos_df[:5]

                 photo_id all_label
0  --3uF9gf2WttniseRLlI6g    inside
1  --4v2HCSXi092RwfidxlMg      food
2  --5FyXiUudlvrJyUCvpZJA      food
3  --6kOAkha3ULjhhw32KN1w     drink
4  --8aLa0rf2gfOjA6kCC3WQ    inside

In [ ]:
merged_df = pd.merge(photos_df, business_df, on="business_id")
merged_df[:5]

## Normalization

## Model Training

## Convolutional Neural Network (CNN)

## SVC

## Results